body {
    background-image: url('https://wallpapertag.com/wallpaper/full/6/8/9/422075-american-flag-desktop-background-3840x2160-htc.jpg');
    background-size: 100%;
    font-family: arial;
}


button {
    
    font-size: 20px;  
    height: 50px;
    border: 2px solid white;
    border-radius: 10px;
      
}

input {
    font-size: 15px;
    height: 50px;
    

}

.military-header {
    text-align: center;
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);   
      
}


.branches {

    display: flex;
    justify-content: space-around;
    margin: auto;
    
    min-width: 900px;
    
    border: 2px solid rgb(89, 146, 245);
    border-radius: 10px;  
    color: white;
    background: rgb(37, 90, 155);

}

.branches h1 {
    padding: 10px;
}

.add-buttons {

    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 900px;
    border: 1px solid green;
    background: black;

}

.add-buttons button {

    background: rgb(23, 52, 126);
    color: white;
    cursor: pointer;
}

.add-buttons button:hover {
    background: rgb(47, 93, 128);
}

.clear-button {
    display: block;
    margin: auto;
    width: 200px;
    background: rgb(33, 65, 121);
    color: white;
    cursor: pointer;
}

.clear-button:hover {
    background: rgb(89, 161, 216);
}